@import "./default.less";
@import "./loading.less";
.container{ position: relative;
  display: flex;
  .nav-left{
    overflow: hidden;
    min-width: 180px;
    height: calc(100vh);
    background: #001529;
  }
  .main{
    background: @colorK;
    overflow: auto;
    height: calc(100vh);
    .content-wrap{
      padding: 0 25px;
      .content{
        //height: 70vh;
        margin-top: 20px;
      }
    }
    .city-table-wrap{padding: 20px;
      background: #fff;
      .button-wrap{
        margin-bottom: 20px;
      }
      .ant-table-wrapper{
        margin: -1px -1px 0 -1px;
      }
    }
  }
}

ul,ol{
  list-style: none;
}

.button-wrap{
  button{
    margin-right: 10px;
  }
}

.editorClassName{
  min-height: 300px;
  border: 1px solid #eaeaea;
  padding: 5px;
}
